@{
    ViewData["Title"] = "Contact";
}

<div class="text-center">
    <h1 class="display-4"> @ViewData["Title"] </h1>
    <p><b>Vous avez des question? Contactez Cinema Neverland</b></p>
    <p>Par télephone : (0033)147483647 </p>
    <p>
        Par courrier : 44 boulevard dufernier,
        75005, Paris
    </p>
    <p>Par mail : cinemaneverland@gmail.com</p>
</div>
